APPLICATION_SERVICE_NAME="telegram-clicker"
APPLICATION_SERVICE_VERSION="1.0.0"
APPLICATION_SERVER_PORT=10018

CLICKERGAME_DB_HOST=""
CLICKERGAME_DB_USER=""
CLICKERGAME_DB_PASSWORD=""
CLICKERGAME_DB_DATABASE=""

TELEGRAM_BOT_APP=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHANNEL_USERNAME=""